@model List<PlanoCartesiano>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Calculador de Distancia Euclidiano</h1>
    <p>Aplicación Web desarrollada con ASP.NET y con arquitectura MVC</p>
</div>

<div class="card">
    <div class="card-header">
        <h5>Coordenadas</h5>
    </div>

    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="CreateAndEditView" asp-controller="CalculadorDistancia" asp-route-id="0">Agregar Coordenadas</a>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Punto Inicial X</th>
                    <th>Punto Inicial Y</th>
                    <th>Punto Final X</th>
                    <th>Punto Final Y</th>
                    <th>Distancia</th>
                    <th>Fecha del Cálculo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="fila-@item.Id">
                        <td>@item.PuntoInicialX.ToString("N2")</td>
                        <td>@item.PuntoInicialY.ToString("N2")</td>
                        <td>@item.PuntoFinalX.ToString("N2")</td>
                        <td>@item.PuntoFinalY.ToString("N2")</td>
                        <td>@string.Format("{0:F4}", item.Distancia)</td>
                        <td>@item.FechaCalculo</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="CreateAndEditView" asp-controller="CalculadorDistancia" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="CreateViewDelete" asp-controller="CalculadorDistancia" asp-route-id="@item.Id">Eliminar</a>
                            <a class="btn btn-warning btn-sm" href="#planoCartesiano" onclick="capturarDatosGrafica(@item.Id)">Graficar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="chard-container">
        <canvas id="planoCartesiano" width="400" height="400"></canvas>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/planoCartesiano.js"></script>
